<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
    <%
    def user_is_logged_in
      session[:user_id]
    end
    %>

    <% if user_is_logged_in %>
      <%= link_to 'Logout', sessions_path %>
    <% else %>
      <%= link_to 'New Account', new_users_path %>
      |
      <%= link_to 'Login', new_sessions_path %>
    <% end %>
    </p>

    <%= yield %>
  </body>
</html>
